<div class="container my-4 content">
  <div class="row justify-content-center g-4">
    <div class="col-12 col-sm-6 col-md-3">
      <a routerLink="/categories">
        <div class="p-3 border rounded text-center card-option h-100">
          <h2 class="h5 mb-3">Dispositivos móviles</h2>
          <img src="/iphone.png" class="img-fluid">
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a routerLink="/categories">
        <div class="p-3 border rounded text-center card-option h-100">
          <h2 class="h5 mb-3">Equipos de cómputo</h2>
          <img src="/dComputo.png" class="img-fluid">
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a routerLink="/categories">
        <div class="p-3 border rounded text-center card-option h-100">
          <h2 class="h5 mb-3">Accesorios</h2>
          <img src="/accesorios.jfif" class="img-fluid">
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <a routerLink="/categories">
        <div class="p-3 border rounded text-center card-option h-100">
          <h2 class="h5 mb-3">Componentes</h2>
          <img src="/componentes.jfif" class="img-fluid">
        </div>
      </a>
    </div>
  </div>

  <div class="alert alert-secondary mt-4" role="alert">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nobis nesciunt recusandae reprehenderit earum, facilis beatae natus quibusdam tempore minima quia vitae, necessitatibus distinctio, et perferendis rem quas repellat vel?
  </div>

  <div class="row justify-content-center chart-section mt-4 g-4">
    <div class="col-12 col-md-6">
      <div class="p-3 border rounded bg-light text-center chart-card h-100">
        <h3 class="h5 mb-3">Productos más vendidos</h3>
        <img src="https://www.researchgate.net/profile/Miguel-Villasis-Keever/publication/322345711/figure/fig2/AS:581063608897536@1515547768460/Figura-3-Ejemplo-de-grafica-tipo-pastel-Distribucion-por-grupos-etarios-de-alergia-a.png" class="img-fluid" alt="Productos más vendidos">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="p-3 border rounded bg-light text-center chart-card h-100">
        <h3 class="h5 mb-3">Productos menos vendidos</h3>
        <img src="https://www.researchgate.net/profile/Miguel-Villasis-Keever/publication/322345711/figure/fig2/AS:581063608897536@1515547768460/Figura-3-Ejemplo-de-grafica-tipo-pastel-Distribucion-por-grupos-etarios-de-alergia-a.png" class="img-fluid" alt="Productos menos vendidos">
      </div>