body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    background: #173f35;
    text-transform: uppercase;
}

.nav-btn {
    margin-right: 10px;
    cursor: pointer;
}

.menu :hover {
    background-color: #173f35;
font-size: 1.3em;
border: solid black;
border-radius: 10px;
color: white;
font-weight: bold;
}

.container {
    margin: 30px;
    background: #C4DAD2;
    border: solid black;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 70px;
    background: #173f35;
    border: solid black;
    margin: 10px;
    color: white;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px;
    margin-inline: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;
}

.usuarios-section, .proveedores-section, .details-section {
    width: 340%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #C4DAD2;
    border: solid black;
    margin: 10px;
    text-align: center;
    font-size: 25px;
}

.search-bar input {
    width: 80%;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

.users-list {
    margin-top: 10px;
    color: white;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    background: #173f35;
    border: solid black;
}

.edit-btn {
    background-color: #ccc;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
}

.details-content {
    display: flex;
    flex-direction: column;
}

.details-content label {
    margin: 5px 0;
    justify-content: center;
    background-color: #173f35;
    border: solid black;
    border-radius: 25px;
    height: auto;
    color: white;
  
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #eee;
}

th, td {
    padding: 8px;
    text-align: center;
}

footer {
    border: solid black;
    text-align: center;
    background-color: #C4DAD2;
    padding: 20px;
}

footer p {
    border: solid black;
    text-align: center;
    background-color: #173f35;
    padding: 10px;
    color: white;
}