
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: black;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto; 
    min-height: 100vh;
    background: black;
    background-position: center;
    background-size: cover;
    color: black;
}


.contenedor{
    position: relative;
    width: 400px;
    border: 2px solid #173f35;
    border-radius: 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
}

.contenedor h2{
    font-size: 2.3rem;
    color: #000000;
    text-align: center;

}

.input-contenedor{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
    
}

.input-contenedor label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bolder;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-contenedor input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #000000;
    font-weight: bold;
}

.input-contenedor i{
    position: absolute;
    color: #000000;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;
}

.olvidar{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #ffffff;
    display: flex;
    justify-content: center; 
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 10px;
    padding: 5px;
}

.olvidar label input{
    margin: 3px;
}
.olvidar label a{
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
    font-weight: bold;
}

.olvidar label a :hover{
    text-decoration: underline;
}

button{
    width: 100px;
    height: 45px;
    border-radius: 40px;
    background: #000000;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
    color: white;
    text-align: center;
}

button:hover{
    opacity: .9;
    background: white;
    color: black;
}

.registrar{
    font-size: .8rem;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 10px;
    padding: 5px;
}

.registrar p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.registrar p a:hover{
    text-decoration: underline;
}


img {
    width: 60%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
