<section>
    <main>

        <div class="card chart-card p-4 con" style="width: 400px;">
          <h2 class="text-center mb-4">Registro</h2>
          <form>
            <div class="mb-3">
              <label class="form-label text-white text-uppercase">Nombre completo</label>
              <input type="text" class="form-control bg-dark text-white" required>
            </div>
            <div class="mb-3">
              <label class="form-label text-white text-uppercase">Correo electrónico</label>
              <input type="email" class="form-control bg-dark text-white" required>
            </div>
            <div class="mb-3">
              <label class="form-label text-white text-uppercase">Contraseña</label>
              <input type="password" class="form-control bg-dark text-white" required>
            </div>
            <button type="submit" class="btn btn-custom w-100 mt-2">Solicitar token</button>
          </form>
          <div class="text-center mt-3">
            <small class="text-white">¿Ya tienes cuenta? <a routerLink="/login" class="text-info">Inicia sesión</a></small>
          </div>
        </div>
</main>

</section>