* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase; 
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #173f35; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: #242532;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 100px;
    width: 800px;
    height: 1100px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 10px;
    border: solid black; 
    align-content: center;
    background: #C4DAD2;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
    width: 100%; 
}

input,
select {
    flex: 1 1 45%; 
    padding: 10px;
    border-radius: 25px;
    background-color: #173f35; 
    border: 2px solid #1E90FF;
    margin-bottom: 15px;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    border: solid black;
}

::placeholder {
    color: rgb(255, 255, 255);
}

.btn {
    background-color: #173f35;
    padding: 17px;
    border-radius: 25px;
    cursor: pointer;
    flex: 1 1 100%; 
    border: solid black;
    font-size: 20px;
    color: black;
}

.btn:hover {
    background-color: #e9fa00;
    border: solid black;
    font-size: 1.5em;
    font-style: unset;
}

.file-input {
    flex: 1 1 100%; 
    padding: 17px;
    border-radius: 25px;
    background: #173f35;
    border: solid black;
    outline: none;
    color: #ff0000;
    font-size: 16px;
    cursor: pointer;
}

.file-input::-webkit-file-upload-button {
    background: #173f35;
    border: solid black;
    padding: 17px;
    border-radius: 25px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.file-input::-webkit-file-upload-button:hover {
    background: #C4DAD2;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.texto-principal-registro {
    display: flex;
    flex: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background: #173f35;
    border-radius: 10px;
    border: solid black;

}

@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    form {
        width: 340px;
    }

    input, 
    select, 
    .btn {
        flex: 1 1 100%;
    }
}
