h2, h3, p, h4{
    color: white;
    text-transform: uppercase;
  }
  
   .addP {
    background-color: cyan;
    box-shadow: 0 5px 10px purple;
    text-transform: uppercase;
    height: 38px;
    margin-bottom: 8px;
    justify-content: center;
    color: purple;
  }
  
  .barra placeholder{
    width: 1000px;
    height: 100px;
    background-color: red;
  }
  
  .card-option{
    background-color: #212529;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    height: 400px;
    max-height: 400px;
    box-shadow: 0 4px 15px purple;
  }
  
  .tabla, td {
    box-shadow: 0 4px 15px purple;
  }
  
  .card-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px purple;
  }

  a {
    text-decoration: none;
  }
  